<h1>Alter student details</h1>

<div>
  <form action="/students/<%= @student.id %>" method="POST">

    <label for="firstName">First name:</label>
    <input type="text" name="first_name" id="firstName"/ >

    <label for="lastName">Last name:</label>
    <input type="text" name="last_name" id="lastName"/ >

    <label for="house_id"></label>
    <select name="house_id" id="house">
      <% for house in @houses %>
      <% if @student.house_id == house.id %>
      <option selected="selected" value="<%= house.id %>" + " (current house)">
        <%= house.name %> (current house)
        <% else %>
        <option value="<%= house.id %>">
          <%= house.name %>
          <% end %>
        </option>
        <% end %>
      </select>

      <label for="age">Age:</label>
      <input type="number" min=0 max=999 name="age" id="age"/ >

      <input type="submit" value="Add Student" id="btn-new-student">

    </form>
  </div>
