<h1>Hogwarts student count: (<%= @students.count() %>)</h1>

<% @students.each do |student| %>
<article>
<p> Student ID: <%= student.id %></p>
<p>Name: <%= student.student_name() %></p>
<p>Age: <%= student.age() %></p>
<p>House: <%= student.house() %></p>


<div id="actions">
<form action="/students/<%= student.id %>" method="GET">
  <input type="submit" value="Show" id="btn-get">
</form>

<form action="/students/<%= student.id %>/edit" method="GET">
  <input type="submit" value="Edit" id="btn-edit">
</form>
<form action="/students/<%= student.id %>/delete" method="POST">
  <input type="submit" value="✖ Delete" id="btn-delete">
</form>
</div>
</article>
<hr />
  <%= print student %>
  <% end %>
